SECRET_KEY = Chave aqui, use 123... obs. não use sequencia de teclado pelo amor 🙂

#o negocio é tu tacar a cabeça no teclado... 
#whifwh$Hegfguweyoagr842y7 8127tygI(%7ejwfv832ty jfweu348yt532 hkjwefugfy3458 
#sai uma chave boa kkkkkkk